<div class="row">
  <div class="col-sm-9">
    <h2>Hello {{userInfo.context.user.fullName}}</h2>
  </div>
  <div class="col-sm-3">
    <img src={{userInfo.context.user.profilePhotoUrl}} align="right" class="img-circle" alt="Profile Photo" width="100" height="100"> 
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <p >Company : <br>{{userInfo.context.organization.name}} </p>
  </div>
  <div class="col-sm-4">
    <p>Email : <br>{{userInfo.context.user.email}}</p>
  </div>
  <div class="col-sm-4">
    <p>User Name : <br>{{userInfo.context.user.userName}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h2>Contacts</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let contact of contacts"
        (click)="selectContact(contact)"
        [class.active]="contact === selectedContact">
        {{contact.name}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewContact()">New</button>
  </div>
  <div class="col-md-3 col-md-offset-2">
    <contact-details
      [contact]="selectedContact"
      [createHandler]="addContact"
      [updateHandler]="updateContact"
      [deleteHandler]="deleteContact">
    </contact-details>
  </div>
</div>